einops
ipywidgets==7.7.1
jaxtyping
jupyterlab-widgets==1.1.1
jupyter
matplotlib
notebook
numpy
pandas
torch
transformers
wandb
colorama
sentencepiece
datasets
nqgl-mlutils @ git+https://github.com/nqgl/mlutils
accelerate